<div class="users-index">
  <div class="index-tittle">ユーザー一覧</div>

  <% @user.each do |user| %>
  <div class="users-list">
    <img src="<%= "/user_images/#{user.image_name}" %>">
    <p><%= link_to(user.name, "/users/#{user.id}") %></p>
  </div>
  <% end %>
</div>
