/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
   box-sizing: border-box;
 }

 img {
  width: 58px;
 }

 html {
   font: 100%/1.5 'San Francisco', 'Hiragino Sans', sans-serif;
   letter-spacing: 1px;
   background-color: #EBF3FA;
 }

 /* フラッシュ ============================= */

 .flash {
   padding: 10px 0;
   color: white;
   background: skyblue;
   text-align: center;
   position: absolute;
   z-index: 10;
   width: 100%;
   border-radius: 0 0 2px 2px;
   font-size: 14px;
 }


 .link{
   text-decoration: none;
 }

li {
  display: inline;
  list-style: none;
  text-align: right;
}

header {
  background-color: #D1DCE5;
  text-align: center;
  margin-bottom: 70px;
}

.header-logo {
  padding-bottom: 0px;
  font-family: Helvetica Neue;
  font-size: 32px;
  color: #7FC4F8;
}

.header-menu {
  text-align: right;
}

.header-menu li {
  padding-left: 5px;
  text-align: right;
}

.header-menu li :hover{
  background-color: #A6D4F6;
}
