// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-content {
  text-align: center;
}

.home-index {
  text-decoration: none;
  border: 1px solid #BDBDBD;
  background-color: white;
}

.home-created {
  font-size: 10px;
}

.form textarea {
  width: 50%;
  font-size: 12px;
  letter-spacing: 1px;
  border: 1px solid #BDBDBD;
}

.home-index {
  width: 100%;
  border: none;
}

.index-left {
  display: inline-block;
  width: 10%
}

.index-left img {
  text-align: center;
}

.index-user-name {
  text-align: center;
}

.index-right {
  display: inline-block;
  width: 80%;
}

.index-content {
  padding-left: 20px;
  text-align: left;
}

.index-created {
  text-align: right;
  font-size: 12px;
}
