// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.posts-content {
  letter-spacing: 3px;
  padding: 100px;
  margin: 0 auto;
  text-align: center;
  background-color: white;
}

.posts-content h2 {
  font-weight: normal;
}


//投稿詳細ページ
.post-show-content p {
  font-size: 12px;
  text-align: right;
}

.post-show-content h2 {
  font-weight: normal;
}

.post-show-user {
  text-align: center;
}

.post-show-content {
  background-color: white;
  padding: 40px;
  text-align: center;
}

.post-show-likes {
  text-align: left;
}

.post-show-likes p {
  display: inline-block;
}

.post-menu {
  text-align: right;
  margin: 0;
  font-size: 12px;
}
