// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// ユーザー詳細ページ
.show-user-content {
  text-align: center;
}

.user-tab {
  text-align: center;
}

.user-tab p {
  display: inline-block;
  margin: 0 30px;
}

.user-menu {
  text-align: right;
}

.user-menu p {
  margin: 0;
  font-size: 12px;
}

// ユーザー一覧ページ
.users-index {
  text-align: center;
}

.users-index img {
  margin-top: 10px;
}

.users-index p {
  margin-top: 0;
  margin-bottom: 10px;
}
